plugins {
  id 'nf-schema@2.3.0'
}

validation {
  help {
    enabled = true
  }
  failUnrecognisedParams = true
  ignoreParams = ["input_study_runs"]
  summary {
    hideParams = [
		"custom_config_version", "custom_config_base",
		"config_profile_description", "config_profile_contact", "config_profile_url",
		"max_memory", "max_cpus", "max_time"
    ]
  }
}

workDir = "${projectDir}/work"
tmpDir  = "${projectDir}/tmp"

params {
    outdir                   = "./results"
    metadata_dir             = "${params.outdir}/metadata/"
    cram_output_dir          = "${params.outdir}/crams/"
    merged_crams_dir         = "${params.outdir}/merged_crams/"
    fastq_dir                = "${params.outdir}/fastq/"
    reportdir                = "${params.outdir}/reports/"

    run_mode                 = null

    // input parameters for run mode study_id
    input_studies            = null // study ID to process
    input_study_runs         = null // list of runs to process

    // input parameters for run mode samples_list
    input_samples_list       = null // file with list of sample IDs, one per line

    // input parameters for run mode csv_samples_id
    input_samples_csv	  	 = null // csv file with input manifest

    // input parameters common to all input modes:
    samples_to_process       = 1
	run_imeta_study          = false
    run_iget_study_cram      = true   // whether to run task to iget all samples cram files
    run_merge_crams          = false
    run_crams_to_fastq       = false  // whether to run task to merge and convert crams of each sample to fastq
    crams_to_fastq_min_reads = 1000   // minimum number of reads in merged cram file to try and convert to fastq.gz
    copy_mode                = "copy" // choose "rellink" ,"symlink", "move" or "copy" to stage in crams and cellranger data from work dir into results dir
    filter_manual_qc         = true   // whether to include `manual_qc = 1` into iRODS query

    // the following are for one-off tasks run after workflow completion to clean-up work dir:
    // on_complete_uncache_irods_search = false // will remove work dir (effectively un-caching) of Irods search tasks that need to be rerun on next NF run even if completed successfully.
    // on_complete_remove_workdir_failed_tasks = false // will remove work dirs of failed tasks (.exitcode file not 0)

	custom_config_version      = "master"
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null

    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.reportdir}/timeline.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.reportdir}/trace.txt"
}

includeConfig './confs/base.conf'

try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

profiles {
  hgi {
    includeConfig './confs/hgi.conf'
  }
  docker {
    includeConfig './confs/docker.conf'
  }
  singularity {
	singularity.enabled    = true
	singularity.autoMounts = true
	docker.enabled         = false
	podman.enabled         = false
	shifter.enabled        = false
	charliecloud.enabled   = false
  }
}
